{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %} {# this is a filter #}

{% block content %}


    {% image self.banner_image fill-2876x350 as img %}

    <div class="jumbotron" style="background-image: url('{{ img.url }}'); background-size: cover; background-position: center center;  !important"> <!-- @tofix sistemare con una immagine migliore, se si sistema togliere hr -->
        <h1 class="display-1" style="text-align: center; color:	#023a70"> {{ self.banner_title }}</h1> <!-- @tofix colore testo-->
        <h4 class="display-5" style="text-align: center; color:	#023a70"> {{ self.banner_subtitle }}</h4>
        <!-- <hr style="height:200pt; visibility:hidden;" /> --> 
    </div>
    <div class="container">
        <div class="lead" style="text-align: justify; margin-top: 60px;" >{{self.body|richtext}}</div>
        {% if self.banner_cta %} 
            <a class="btn btn-primary btn-lg" href="#" role="button"> @todo</a>
        {% endif %}

    </div>  

   
   
    <div id="map" class="container" >

    </div>
    
    <!--
     <div id="debug">
     {{ ecossites }}
     {{ polygons }}
    </div> -->

   
    

    
   <!--div class map <iframe width="420" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://cigno.ve.ismar.cnr.it/maps/30/embed" style="border: 1px solid black"></iframe> 
   @tofix-->
        
   
{% endblock %}

{% block extra_js %}
{{ block.super }}
{{ ecossites|json_script:"ecossites" }}
{{ other_ecossites|json_script:"other_ecossites" }}
{{ polygons|json_script:"polygons" }}


<script type="text/javascript" src="/static/js/map.js"></script>
<script type="text/javascript" src="/static/js/marker.js"></script>

{% endblock %}