{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block bannertitle%}
    <p class="display-4"> {{ self.banner_title }}</p> <!-- @tofix colore testo-->
    <p class="display-5" style="text-align: center; color:	#ffffff; font-weight: 500;margin-bottom: 0px; padding-bottom: 5px;"> {{ self.banner_subtitle }}</p>
{% endblock %}

{% block content %}
    <div id="map">
    </div>
            
    <div class="sidenav">
        <h4 style="padding:15px 8px 20px 20px; color: #023a70" >ECOAdS RESOURCES</h4>
        <a  href="/sites/ecoss/">All ECOAdS sites</a>
        <a  href="/sites/natura2000/">Natura 2000 sites</a>
        <a  href="/sites/lter/">LTER sites</a>
        <a  href="/fix/list/">Fixed-point observing systems</a>
        <a href="#">Parameters</a>
        <a href="#">Data sources</a>
        <a href="#">Directives</a>
    </div>


    <!-- <div id="debug">
        {{ fix_point }}
    </div>
           -->
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ ecossites|json_script:"ecossites" }}
    {{ other_ecossites|json_script:"other_ecossites" }}
    {{ polygons|json_script:"polygons" }}
    {{ fix_point|json_script:"fix_point" }}
    
    <script type="text/javascript" src="/static/js/map.js"></script>
    <script type="text/javascript" src="/static/js/marker.js"></script>
{% endblock %}