{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div id="homepage">
        <div id="map"></div>
            <div id="infoblock" >
                <div id="buttonbox" >
                    <h3 style="text-align:center; font-weight: 600;"> ECOAdS resources </h3>
                    <div id="btngroup" class="btn-group-vertical" style="width: 96%;" > 
                        <button id="btn-resources" type="button" class="btn btn-secondary" ><h4><a style=" color:  #023a70;" href="/sites/natura2000/">Natura 2000 sites</a></h4></button>
                        <hr style="height:3pt; visibility:hidden;"/>
                        <button id="btn-resources" type="button" class="btn btn-secondary" ><h4><a style=" color:  #023a70;" href="/sites/lter/">LTER sites</a></h4></button>
                        <hr style="height:3pt; visibility:hidden;"/>
                        <button id="btn-resources" type="button" class="btn btn-secondary" ><h4><a style=" color:  #023a70;" href="/sites/fixoss/">Fixed-point observing systems</a></h4></button>
                        <hr style="height:3pt; visibility:hidden;"/>
                        <button id="btn-resources" type="button" class="btn btn-secondary" ><h4 style=" color:  #023a70;">Parameters</h4></button>
                        <hr style="height:3pt; visibility:hidden;"/>
                        <button id="btn-resources" type="button" class="btn btn-secondary" ><h4 style=" color:  #023a70;">Data sources</h4></button>
                        <hr style="height:3pt; visibility:hidden;"/>
                        <button id="btn-resources" type="button" class="btn btn-secondary" ><h4 style=" color:  #023a70;">Directives</h4></button>
                    </div>
                </div>
            </div>
    </div>
   
    
    <!--div id="debug">
     {{ other_ecossites }}
     
    </div-->           
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    {{ ecossites|json_script:"ecossites" }}
    {{ other_ecossites|json_script:"other_ecossites" }}
    {{ polygons|json_script:"polygons" }}

    <script type="text/javascript" src="/static/js/map.js"></script>
    <script type="text/javascript" src="/static/js/marker.js"></script>
{% endblock %}