{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1 style="text-align: center";>{{ object.denomination }}</h1>
    <div id=site>
            <div id="sitepage" style="text-align: justify";>
                {% if object.description is not None %}
                    <h4>Description:</h4>
                    <div>
                        {{ object.description|slice:":200" }}<span id="dots">...</span><span id="more">{{ object.description|slice:"201:"}} </span>
                        <button id="btn1" onclick="myFunction()" >Read more</button>
                    </div>
                    <hr style="height:10pt; visibility:hidden;"/>
                {% endif %}
                {% if object.data.attributes.general.purpose is not None %}
                    <h4>Purpose:</h4>
                    <div>
                        {{ object.data.attributes.general.purpose }}
                    </div>
                    <hr style="height:10pt; visibility:hidden;"/>
                {% endif %}     
                <h4>Last Update:</h4> <p>{{ object.last_update}}</p>
                <p>Go to DEIMS-SDR <a href="{{ object.data.id.prefix }}{{ object.data.id.suffix }}">website.</h4></a> </p>
                <hr style="height:10pt; visibility:hidden;"/>
                {% for cm in object.conceptualmodels.all %}
                    <p> {{ cm.conceptual_model_type}} Conceptual Model <a href="/{{ cm.slug }}"> view </h4></a> </p>
                {% endfor %}
                <p>Explore <a href="/site/{{ object.data.id.suffix }}/dashboard"> dashboard </h4></a> </p>
                {% if ecossite.img is not None %}   
                    <img alt=""  class="pull-left" src="{{ object.img}}" width="100%">
                {% endif %} 
            </div>
            <div id="mapsite">             
            </div>            
        {% if object.data.attributes.focusDesignScale.parameters is not None %}
            <div id="parameter" class="container">
                <h4 style="text-align: center;">Parameters:</h4>
                <div class="md-form active-cyan-2 mb-3">
                    <input id="parameter-search" class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div id="parameter-list" class="row">
                    {% for parameter in object.data.attributes.focusDesignScale.parameters %}
                        <div id="singleparameter" class="col-6"> <a class="nav-link" href="{{ parameter.uri  }}">{{ parameter.label  }} </a> </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
  

    <!--div id="debug">
        {{ object.labels }}
    </div--> 

{% endblock %}

{% block extra_js %}
{{ block.super }}
{{ polygon|json_script:"polygon" }}
{{ singlesite|json_script:"singlesite" }}
{{ denomination|json_script:"denomination" }}
<script type="text/javascript" src="/static/js/singlesite.js"></script>
<script type="text/javascript" src="/static/js/searchparameter.js"></script> 
{% endblock %}