{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1 style="text-align: center";>{{ object.denomination }}</h1>
    <div id=site>
            <div id="sitepage" style="text-align: justify";>
                {% if object.description is not None%}
                    <h4>Description</h4>
                    <div>
                        {{ object.description|slice:":200" }}<span id="dots">...</span><span id="more">{{ object.description|slice:"201:"}} </span>
                        <button id="btn1" onclick="myFunction()" >Read more</button>
                    </div>
                    <hr style="height:10pt; visibility:hidden;"/>
                {% endif %}
                {% if object.data.attributes.general.purpose is not None %}
                    <h4>Purpose</h4>
                    <div>
                        {{ object.data.attributes.general.purpose }}
                    </div>
                    <hr style="height:10pt; visibility:hidden;"/>
                {% endif %}  
                
                <h4>Tools</h4>
                
                <p>Evaluate the<a target="_blank" href="https://processing.get-it.it/shiny/ecoss/?siteid={{ object.data.id.suffix }}&tab=contribution"> site contribution </h4></a>to the Marine Strategy Framework Directive (MSFD) monitoring.</p></p>
                <p>Evaluate how the site contributes to the<a target="_blank" href="https://processing.get-it.it/shiny/ecoss/?siteid={{ object.data.id.suffix }}&tab=conservation"> conservation strategy</h4></a>.</p></p>
               
                  
                <h4>Measurements</h4>
                <p>Explore available<a href="/site/{{ object.data.id.suffix }}/dashboard"> data</h4></a> for {{ object.denomination }}. </p>
                <h4>Information Resources</h4> 
                    {% for i in object.inforesources.all|dictsort:"info_resource_type" %}
                      <p><h4 style ="display: inline;"><a href="/inforesource/{{ i.id}}" class="badge badge-secondary">{{i.info_resource_type}}</a></h4> {{ i.title}} </p>

                    {% endfor %}                 
                <hr style="height:10pt; visibility:hidden;"/>   
                <h4>DEIMS-SDR</h4>
                <p> Information about the site is stored in <a target="_blank" href="https://deims.org/">DEIMS-SDR</h4></a> (Dynamic Ecological Information Management System - Site and dataset registry). Go to DEIMS-SDR page for<a href="{{ object.data.id.prefix }}{{ object.data.id.suffix }}"> {{ object.denomination }}.</h4></a> </p>
                <hr style="height:10pt; visibility:hidden;"/>
               
                <h4>Conceptual models</h4>
                    {% for cm in object.conceptualmodels.all %}
                        <p> For this site is available the <a href="/{{ cm.slug }}"> {{ cm.conceptual_model_type}} </h4></a> conceptual model.</p>
                    {% endfor %} 

                {% if ecossite.img is not None %}   
                    <img alt=""  class="pull-left" src="{{ object.img}}" width="100%">
                {% endif %} 
                <hr style="height:10pt; visibility:hidden;"/>
                <h4>Last Update</h4> <p>{{ object.last_update}}</p>
                
            </div>
            <div id="mapsite">             
            </div>            
        {% if object.data.attributes.focusDesignScale.parameters is not None %}
            <div id="parameter" class="container">
                <h4 style="text-align: center;">Parameters:</h4>
                <div class="md-form active-cyan-2 mb-3">
                    <input id="parameter-search" class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
                <div id="parameter-list" class="row">
                    {% for parameter in object.data.attributes.focusDesignScale.parameters %}
                        <div id="singleparameter" class="col-6"> <a class="nav-link" href="{{ parameter.uri  }}">{{ parameter.label  }} </a> </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
{{ polygon|json_script:"polygon" }}
{{ singlesite|json_script:"singlesite" }}
{{ denomination|json_script:"denomination" }}
<script type="text/javascript" src="/static/js/singlesite.js"></script>
<script type="text/javascript" src="/static/js/searchparameter.js"></script> 
{% endblock %}