{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1 style="text-align: center";> Grafana Dashboard {{ object.denomination }} </h1>

    <div id="dashboard">

        <!--
            sostituire var=3, quel 3 deve essere dinamico e deve essere collecato al
            fatto che la dashboard è di un sito
            ovvero var=  {{ measurement_location_id }} ma location id del ecos.site con suffix = a quello
            della slug della dashboard 
        --> 

        <!-- <iframe src="https://ecoads.eu/measurements/d-solo/hvh9-qyGk/test?orgId=1&from=1615819330629&to=1616424130629&var-location=3&var-location=4&theme=light&panelId=4" width="800" height="356" frameborder="0"></iframe> -->
        <!-- <iframe src="https://ecoads.eu/measurements/d-solo/hvh9-qyGk/test?orgId=1&from=1615819406107&to=1616424206107&var-location=3&var-location=4&theme=light&panelId=2" width="800" height="356" frameborder="0"></iframe> -->
        
        
        <iframe src="https://ecoads.eu/measurements/d/hvh9-qyGk/test?orgId=1&from=1616659771110&to=1616681371111&var-location=14&theme=light&kiosk=tv" width="1600" height="712" frameborder="0"></iframe>
    </div>

    <!-- {% if object.data.attributes.general.purpose is not None %}
                    <h4>Purpose:</h4>
                    <div>
                        {{ object.data.attributes.general.purpose }}
                    </div>
                    <hr style="height:10pt; visibility:hidden;"/>
                {% endif %}  -->
  
    

    <div id="debug">
        
        {{ object.denomination }}
        {{ object.measurement_location_id }}
        
    </div>  

{% endblock %}

{% block extra_js %}
{{ block.super }}
{{ polygon|json_script:"polygon" }}
{{ singlesite|json_script:"singlesite" }}
{{ denomination|json_script:"denomination" }}
<script type="text/javascript" src="/static/js/singlesite.js"></script>
<script type="text/javascript" src="/static/js/searchparameter.js"></script> 
{% endblock %}