{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1 style="text-align: center";>{{ object.label }}</h1>
    <div id=site>
        <div id="sitepage" style="text-align: justify";>

            {% if object.description is not None %}
             <h4>Location Description</h4>
             <div>
                {{ object.description }}
             </div>
             <hr style="height:10pt; visibility:hidden;"/>
            {% endif %}
            <div>
                {% if object.image is not None %}   
                    <img alt=""  class="pull-left" src="/media/{{ object.image }}" width="400">
                {% endif %}
            </div>
            <hr style="height:10pt; visibility:hidden;"/>
            <h4>Sensors and Measurements available for this Location</h4>
            {% for i in prova %}
            <h5><span class="badge badge-secondary">{{ i.network }}</span> <a href="{% url 'fix-dataview' i.id %}"> {{ i.label }} </a></h5>
            {% endfor %}
            
            
            {% for s in sito %}
            <a href="{% url 'grafana' s.suffix %}">
                <img src="https://ecoads.eu/media/images/Angle_Right_51.original.png"
                width="30" height="30"> 
            </a>
             <h5 style ="display: inline;"> Explore available data collcted in this Fixed-point observing system.</h5>
            <br>
             {% endfor %}

        </div>
        <div id="mapsitefix">             
            
        </div>
    </div>
  

    <!-- <div id="debug">
        {{ fixsinglesite }}
    </div>  -->

{% endblock %}

{% block extra_js %}
{{ block.super }}
{{ fixsinglesite|json_script:"fixsinglesite" }}
{{ label|json_script:"label" }}
<script type="text/javascript" src="/static/js/fixsinglesite.js"></script>
{% endblock %}