{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %} {# this is a filter #}

{% block content %}
  <h1 style="text-align: center"> Fixed-Point Observing Systems List</h1>
  
  <div class="container">
    <div class="md-form active-cyan-2 mb-3">
        <input id="list-search" class="form-control" type="text" style="text-align: center;" placeholder="Search Site" aria-label="Search">
    </div>
    <div id="site-list" class="row spacing2">
        {% for fix_point in object_list %}
            {% if fix_point.location is not None %}   
                <div class="carousel slide spacing2" data-ride="carousel" id="carousel" style="width: 150px; margin-left:10px">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            {% if fix_point.img is None %}
                                <img alt=""  class="pull-left" src="/media/images/img_placeholder.max-165x165.png" width="120" height="100">
                            {% endif %}
                            {% if fix_point.img is not None %}   
                                <img alt=""  class="pull-left" src="{{ fixpoint.img}}" width="150" height="100">
                            {% endif %}
                        </div>
                    </div> 
                </div>
                <div class="col-md-10" id="carousel_text" >
                    <div>
                        <a href="{% url 'fix-view' fix_point.id %}" class="alert-link">
                        <h5> {{ fix_point.label }} </h5>
                        </a>
                        <p style="font-size: 15px;"> {{ fix_point.description | truncatechars:300 }} </p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/searchsite.js"></script> 
{% endblock %}