{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %} {# this is a filter #}

{% block content %}
  <h1 style="text-align: center">Observing Systems List</h1>
  
  <div class="container">
    <div class="md-form active-cyan-2 mb-3">
        <input id="list-search" class="form-control" type="text" style="text-align: center;" placeholder="Search Site" aria-label="Search">
    </div>
    <div id="site-list" class="row spacing2">
        {% for f in fix_point %} 

                <div class="carousel slide spacing2" data-ride="carousel" id="carousel" style="width: 150px; margin-left:10px">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            {% if  f.4 is not None %}   
                                <img alt=""  class="pull-left" src="/media/{{ f.4 }}" width="150" height="100">
                            {% endif %}
                        </div>
                    </div> 
                </div>
                <div class="col-md-10" id="carousel_text" >
                    <div>
                        {% if  f.3 %} 
                            <a href="{% url 'fix-view' f.3 %}" class="alert-link">
                            <h5> {{ f.0 }} </h5>
                            </a>
                            {% endif %}
                        <p style="font-size: 15px;"> {{ f.5 | truncatechars:300 }} </p>
                    </div>
                </div>

        {% endfor %}
    </div>
</div>

    <!-- <div id="debug">
        {{ fix_img }}
        {{ station.image }}
    </div>    -->
{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/searchsite.js"></script> 
{% endblock %}