{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <h1 style="text-align: center";>{{ object.label }}</h1>
    <div id=site>
        <div id="sitepage" style="text-align: justify";>


            {% for i in prova %}
            <h5><span class="badge badge-secondary">{{ i.network }}</span> <a href="{% url 'fix-dataview' i.id %}"> {{ i.label }} </a></h5>
            {% endfor %}
            
            <div>
                {% if object.image is not None %}   
                    <img alt=""  class="pull-left" src="/media/{{ object.image }}" width="400">
                {% endif %}
            </div>
        </div>
        <div id="mapsitefix">             
            
        </div>
    </div>
  

    <!-- <div id="debug">
        {{ fixsinglesite }}
    </div>  -->

{% endblock %}

{% block extra_js %}
{{ block.super }}
{{ fixsinglesite|json_script:"fixsinglesite" }}
{{ label|json_script:"label" }}
<script type="text/javascript" src="/static/js/fixsinglesite.js"></script>
{% endblock %}