{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container" style="text-align: justify;">
        <h1 style="text-align: center";>{{ object.title }} - {{ object.info_resource_type }}</h1>
         
        {% if object.description is not None %}
            <h4>Description</h4>
            <div>
                {{ object.description|richtext }}
            </div>
            {% if object.embed_url is not None %}
                <iframe style="border: 1px solid #023a70;" height="600" width="100%"  src="{{ object.embed_url}}"></iframe>
                
            {% endif %}
            
            {% if "Other" in object.info_resource_type %}   
                <p>You can access and explore the resource at this <a target="_blank" href="{{ object.resource_url}}">page</h4></a>.</p>
            {% else %}
                <p>You can access and explore the {{ object.info_resource_type }} at this page:<a target="_blank" href="{{ object.resource_url}}"> {{ object.resource_url}}</h4></a>.</p>
            {% endif %}
       <hr style="height:10pt; visibility:hidden;"/>
            <hr style="height:10pt; visibility:hidden;"/>
        {% endif %}
        <h4>Contacts</h4>
        <p>Reference Institution {{ object.reference_institution|richtext }}</p>
        {% if object.additional_informations is not None %}
        <h4>Additional Informations</h4>
            <div>
                {{ object.additional_informations|richtext }}
                <h5>Data Access Information</h5>
                {{ object.data_access_information|richtext }}
            </div>
            <hr style="height:10pt; visibility:hidden;"/>
        {% endif %}
        <!--div id="debug">
        {{ object.labels }}
        </div--> 

    </div>

{% endblock %}

{% block extra_js %}

{% endblock %}
