{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        
        
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ecoads.css' %}">
        
        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
            <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
        {% endblock %}
       
        <link rel="icon" type="image/png" href="/media/images/logo_pagina_parzialeECOSS_rgb.max-165x165.max-165x165.png"/>
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <!--Main Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="/"> <img src="/media/images/ECOSS_rgb.max-165x165.jpg" height="45" alt=""></a>
                <a class="navbar-brand" href="/">ECOAdS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/dataportal/">Data Portal</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/ecologicalobservatory/">Observatory</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/sitesoss/">Sites & OSs</a>  
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Resources
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/sites/ecoss/">All ECOAdS sites</a>
                                <a class="dropdown-item" href="/sites/natura2000/">Natura 2000 sites</a>
                                <a class="dropdown-item" href="/sites/lter/">LTER sites</a>
                                <a class="dropdown-item" href="/sites/fixoss/">Fixed-point observing systems</a>
                                <a class="dropdown-item" href="/sites/lter/">Parameters</a>
                                <a class="dropdown-item" href="/sites/lter/">Data sources</a>
                                <a class="dropdown-item" href="/sites/lter/">Directives</a>
                            </div>
                        </li>

                       
                    </ul>
                </div>    
                   
            </nav>

            <div class="view intro-2" style="margin-top:-90px;padding-bottom: 20px;">
                <div class="full-bg-img">
                <div class="mask rgba-indigo-slight flex-center">
                    <div id="banner" class="container">
                    <div class="white-text text-center wow fadeInUp" style="padding-top:70px;">
                        
                        {% block bannertitle%}
                        {% endblock %}
                        
                      
                    </div>
                    </div>
                </div>
                </div>
            </div>


        {% block content %}
        {% endblock %}

        
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/ecoads.js' %}"></script>

        {# Bootstrap #}  
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        
        {% block extra_js %}
            <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>
        {% endblock %}
        
    </body>

    <footer>
        <div class="container-fluid text-center text-md-left">
                <div class="row">
                <div class="col-4">
                    <a href="http://www.ismar.cnr.it/progetti/progetti-internazionali/progetti-in-corso-cte-interreg/progetto-ecoss"> <h6 style="color: #ffffff;" class="text-uppercase">CNR-ISMAR</h6> </a>
                    <p style="color: #ffffff;" >LEAD PARTNER<br>Arsenale - Tesa 104, Castello 2737/F, 30122 Venezia<br>mng_ecoss@ismar.cnr.it<br>0412407927
                    </p>
                </div>
                <div class="col-4">
                    <h6 style="color: #ffffff;" class="text-uppercase">FOLLOW US</h6> 
                    <a href="https://www.facebook.com/ECOSSproject/" target="_blank"> <img src="/media/images/toppng.com-black-and-white-fb-221x425.max-165x165.png" alt="/" width="10" height="19"></a>
                    <br>
                    <br>
                    <a href="https://twitter.com/ECOSS18" target="_blank"> <img src="/media/images/toppng.com-twitter-icon-white-transparent-11.max-165x165.png" alt="/" width="23" height="19"></a>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-4">
                    <a href="/partner/"> <h6 style="color: #ffffff;" class="text-uppercase">PROJECT PARTNERS</h6> </a>
                    <ul class="list-unstyled">
                        <li>
                            <a style="color: #ffffff;" target="_blank" href="https://www.italy-croatia.eu/web/ecoss">About ECOSS project</a>
                        </li>
                        <li>
                            <a style="color: #ffffff;" target="_blank" href="/ecologicalobservatory/">What is ECOAds?</a>
                        </li>
                        <!--<li>
                            <a href="#!">Link 4</a>
                        </li> -->
                    </ul>
                <div>
            </div>
        </div>
    </footer> 

</html>
